{% extends "maestra.html" %}
{% block titulo %} Point Roo {% endblock %}
{% block contenido %}

<!-- Inicio main acerca de -->

<section id="contenedor-section">
    <h4 id="titulo-acerca">Acerca de Point Roo</h4>
    <div id="contenedor-fila-1-acerca-de">
        <img id="img-polo-acerca-de" src="/static/img/polo-acercade.png" alt="polo">
        <div class="cont-subtitulo-parrafo" id="contenedor-necesitamos-moda-sin-contaminacion">
            <h5 style="text-align: center; margin-bottom: 20px;">¡Necesitamos una moda sin contaminación!</h5>
            <p style="text-align: justify;">Comprometemos a utilizar materiales sostenibles en nuestra línea de
                productos. Esto incluirá la adopción de
                algodón orgánico, fibras recicladas y otros materiales ecológicos que reduzcan la dependencia de
                recursos no
                renovables.Comprometemos a educar a nuestros clientes sobre la importancia de la moda
                sostenible.
                Proporcionaremos información sobre los beneficios de elegir productos sostenibles y cómo cuidar
                y prolongar la
                vida útil de la ropa.</p>
        </div>
        <img id="img-plantita-acerca-de" src="/static/img/tierra-acercade.png" alt="tierra">
    </div>

    <div id="contenedor-fila-2-acerca-de">
        <div id="contenedor-mision-img-mision">
            <div class="cont-subtitulo-parrafo" id="contenedor-mision">
                <h5>Misión</h5>
                <p style="text-align: justify;">Ofrecer productos de calidad como ropa de marca y calzado asequibles a
                    nuestros clientes pequeños y grandes; y estar a la vanguardia de las tendencias de la moda,
                    accesorios y maquillaje.</p>
            </div>
            <img id="img-mision" class="mision" src="/static/img/misión.png" alt="">
        </div>
        <div id="contenedor-vision-img-vision">
            <div class="cont-subtitulo-parrafo" id="contenedor-vision">
                <h5>Visión</h5>
                <p style="text-align: justify;">Ser una empresa importadora líder y reconocida en la venta de ropa y
                    calzado, logrando extendernos y crear cadenas de tiendas a nivel nacional e internacional; a su vez,
                    fidelizando, ampliando la cartera de clientes de la tienda y/o la boutique y ofreciendo servicios
                    postventa para los clientes.
                </p>
            </div>
            <img id="img-vision" class="vision" src="/static/img/vision.png" alt="">
        </div>
    </div>
</section>

<!-------------------------------------------------------------------------------------------------->

{% endblock %}