{% extends "maestra.html" %}
{% block titulo %} Point Roo {% endblock %}
{% block contenido %}

<main style="margin-top: 20px;">

    <h4 id="titulo-carrito-de-compras"><b>Carrito de Compras</b></h4>

    <!-- Mostrar si hay productos agregados -->

    <div id="contenedor-mostrar-hay-productos"> <!--Contenedor que se muestra o no (si es que hay productos)-->
        <div id="contenedor-carrito-de-compras"> <!--Contenedor del carrito en sí-->
            <div id="contenedor-mi-pedido"> <!-- color blanco -->
                <h4><b>Mi pedido</b></h4>
            </div>

            <div id="contenedor-cuerpo-carrito"> <!-- color amarillo -->
                {% for s in sin %}
                <div class="alert alert-danger" role="alert">
                    Producto {{s}} sin Stock disponible
                </div>
                {%endfor%}
                <div id="contenedor-contenedor-cuerpo-carrito">
                    <div id="contenedor-productos">
                        <!-- <div class="card-producto">
                                <div class="cont-producto">
                                    <p class="identificador-producto">1</p>
                                    <img class="img-card-producto" src="/static/img/item-2-calzado.png" alt="">
                                    <div class="cont-descr-producto">
                                        <h6 class="titulo-producto"><b>Zapatilla Nike Air Max Up Urbano Mujer</b></h6>
                                        <h6><b>Talla: </b>43</h6>
                                        <h6><b>Precio: </b> S/. 390.00</h6>
                                        <h6><b>Cantidad: </b>1</h6>
                                        <div><b>Subtotal producto: </b>S/. 390.00</div>
                                    </div>
                                    <button id="btn-eliminar-producto" onclick="eliminarProductoDelCarrito()">Eliminar</button>
                                </div>
                            </div>
                            <div class="cont-editar-pedido--tienes-n-productos">
                                <label id="lbl-tienes-n-prod" for=""><i>Tienes <b><u>n productos</u></b></i></label>
                            </div> -->
                        {% for producto in array %}
                        <div class="card-producto">
                            <div class="cont-producto">
                                <p class="identificador-producto">{{producto[10]}}</p>
                                <img class="img-card-producto"
                                    src="{{ url_for('static', filename='img/' + producto[4]) }}" alt="">
                                <div class="cont-descr-producto">
                                    <h6 class="titulo-producto"><b>{{producto[1]}}</b></h6>
                                    <h6><b>Talla: </b>{{producto[8]}}</h6>
                                    <h6><b>Precio: </b>{{producto[2]}}</h6>
                                    <h6><b>Cantidad: </b>{{producto[9]}}</h6>
                                    <div><b>Subtotal producto: </b>{{producto[11]}}</div>
                                </div>
                                <button id="btn-eliminar-producto"
                                    onclick="eliminarProductoDelCarrito()">Eliminar</button>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <div id="contenedor-direccion-envio--tipo-de-entrega">
                        <div id="contenedor-direccion-envio">
                            <h6><b><u>Ingresa tu dirección de envío</u></b></h6>
                        </div>
                        <div class="cont-cbo-box">
                            <h6 class="dep"><b>Departamento:</b></h6>
                            <select onchange="actualizarProvincias()" name="cbobox-departamento"
                                id="cbobox-departamento">
                                <option value=""></option>
                                <option value="lima">Lima</option>
                                <option value="lambayeque">Lambayeque</option>
                            </select>
                        </div>
                        <div class="cont-cbo-box">
                            <h6 class="prov"><b>Provincia:</b></h6>
                            <select onchange="actualizarDistritos()" name="cbobox-provincia" id="cbobox-provincia">

                            </select>
                        </div>
                        <div class="cont-cbo-box">
                            <h6 class="dist"><b>Distrito:</b></h6>
                            <select name="cbobox-distrito" id="cbobox-distrito">

                            </select>
                        </div>
                        <div class="cont-input-text">
                            <h6 class="dep"><b>Avenida/Calle/Jirón:</b></h6>
                            <input class="form-control me-5" type="text" name="text-avenida-calle-jiron"
                                id="text-avenida-calle-jiron">
                        </div>
                        <div class="cont-input-text">
                            <h6 class="dep"><b>Dpto/Interior/Piso/Lote/Bloque (opcional):</b></h6>
                            <input class="form-control me-5" type="text" name="text-dpto-int..." id="text-dpto-int">
                        </div>
                        <label id="lbl-tipo-de-entrega" for="">Tipo de entrega: <b>A domicilio</b></label>
                    </div>
                    {% if array %}
                    <button onclick="irPaginaPagoDeProductos()" id="btn-continuar-compra-carrito">Continuar con mi
                        compra</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Mostrar si no hay productos agregados -->

    <div class="container" id="contenedor-mostrar-no-hay-productos">
        <img src="/static/img/img-carrito-de-compras-mostrar-no-hay-productos.png"
            id="img-carrito-de-compras-mostrar-no-hay-productos" alt="">
        <h4 id="titulo-no-has-agregado-productos"><b>Ups, aún no has agregado productos al carrito de compras :3</b>
        </h4>
    </div>
</main>
{% endblock %}