{% extends "maestra.html" %}
{% block titulo %} Point Roo {% endblock %}
{% block contenido %}

<!------------------------  Main inicio -------------------------->
<main style="margin-top: 12px;">
    <h1 id="titulo-bienvenido-point-roo"><b>Bienvenido a Point Roo</b></h1>
    <div id="carrusel-index" class="carousel slide" data-bs-ride="carousel">
        <div style="margin-bottom: 0px;" class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2500">
                <img src="/static/img/portada-point-roo.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <img src="/static/img/portada_2.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>

<!------------------------  Main fin -------------------------->

{% endblock %}